.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gallery-static-wrapper {
  height: 500px;
  overflow: scroll;
  width: 80%;
  border: 15px solid grey;
  padding: 10px;
  margin: 0 auto;
}

.gallery-static {
  display: grid;
  grid-auto-rows: 240px;
  grid-gap: 10px;
}

.gallery-static img {
  cursor: pointer;
  width: 220;
  height: 212;
}

.carousel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-img-numbering {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.arrow-prev,
.arrow-next {
  padding: 10px;
  border: 2px solid black;
  background-color: rgba(109, 104, 104, 0.6);
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.arrow-next {
  right: -50px;
}
.arrow-prev {
  left: -50px;
}

.cancel {
  position: absolute;
  border: 2px solid black;
  padding: 5px 10px;
  top: -50px;
  font-size: 25px;
  cursor: pointer;
  left: calc(50% - 20px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .gallery-static {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .carousel {
    width: 50%;
  }
  .gallery-static-wrapper {
    width: 40%;
  }
}
